<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" 
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd"
	default-autowire="byName">
	<!-- 注意上面的default-autowire="byName"，如果没有这个声明不会被注入 -->

	<description>Spring-database配置</description>

	<!-- <import resource="app-service.xml" /> -->

	<!-- 自动扫描组件，这里要把web下面的 controller去除，他们是在servlet-servlet.xml中配置的，如果不去除会影响事务管理的。 -->
	<context:component-scan base-package="net.wicp.longshasha.snake">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>


	<!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>file:${catalina.home}/properties/db/jdbc.properties</value>
				<value>classpath:/properties/db/jdbc.properties</value>
			</list>
		</property>
	</bean> -->
	 
</beans>